/* Container for the periodic table */
.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 1fr); /* Adjust for your table */
    gap: 5px;
}

/* Common style for elements */
.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
 /* Default background color */
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

/* Style for the atomic number (left-hand side) */
.element-number {
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #ffffff;
}

/* Style for the element symbol */
.element-symbol {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;

}

/* Style for the element name */
.element-name {
    font-size: 12px;
    color: #ffffff;

}

/* Style for the atomic mass (same color as atomic number) */
.atomic-mass {
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show the atomic mass on hover */
.element:hover .atomic-mass {
    opacity: 1;
}

/* Scale on hover */
.element:hover {
    transform: scale(1.1);
}

/* Style for the element info box */
.element-info-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    text-align: center;
}

/* Style for the element image */
/* Style for the element image */
/* Style for the element image */
.element-image {
    position: relative;
    width: 400px; /* Ensure the container takes full width */
    height: 200px; /* Ensure the container takes full height */
    overflow: hidden; /* Clip the image within the little screen */
}

.element-image img {
    width: 100%; /* Make the image take full width of its container */
    height: 100%; /* Make the image take full height of its container */
    object-fit: cover; /* Make the image cover the container and maintain its aspect ratio */
}


/* .element-details {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    text-align: right;
} */




/* Style for the atomic number and mass */
.element-number, .element-mass {
    margin: 0;
    font-weight: bold;
}

#reactive-non-metals-H{
    background-color: #2A4163;
}

#Noble-gases-He{
    background-color: #623842;
}




